@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

table,
tr,
td {
    border: none;
    border-collapse: collapse;
}

body{
    background: linear-gradient(90deg, #0b5846, #15133c);
    color: white;
    background-size: 200% 200%;
    animation: Gradient 5s ease infinite;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

@keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%; 
    }
    100%{
        background-position: 0% 50%;
    }
}

@-webkit-keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%; 
    }
    100%{
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%; 
    }
    100%{
        background-position: 0% 50%;
    }
}

.title_text{
    font-size: 30;
    color: white;
    text-align: center;
}

.calendar{
    background: url(https://i.ibb.co/pR4fjTF/kalendarniy-list1.png) no-repeat;
    width: 110px;
    height: 110px;
    background-size: 110px 110px;
}

#month{
    font-size: 15px;
    text-align: center;
    padding-top : 15px;
    color : white;
}

#day{
    color: black;
    text-align: center;
    font-size : 30px;
}
#wday{
    color: black;
    text-align: center;
}

#time{
    margin-top: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: black;
    background: white;
    width: 110px;
    text-align: center;
}
button{
    background: #607610;
    color: white;
    font-size: 18px;
    width: 110px;
    height: 60px;
    margin-top: 20px;
    box-shadow: 3px 1px 3px 1px #ffa8a8;
    border: none;
    font-weight: 900;
    transition: all 1s ease;
    border-radius: 50%;
}
.left_border {
    background-image: url(https://i.ibb.co/KVP6dw6/leftborder.png);
    width: 46px;
    height: 400px;
    background-position: -7px;
    background-size: contain;
}

.right_border {
    background-image: url(https://i.ibb.co/vZ06vvr/rightborder.png);
    background-position: 8px;
    width: 45px;
    height: 400px;
    background-size: contain;
}

.bot_border {
    background-image: url(https://i.ibb.co/zFgJHv6/topborder.png);
    width: 300px;
    height: 48px;
    background-position: 0 -4px;
    background-size: contain;
    transform: rotate(180deg);
}

.top_border {
    background-image: url(https://i.ibb.co/zFgJHv6/topborder.png);
    width: 300px;
    height: 46px;
    background-position: 0 -4px;
    background-size: contain;
}

.right_top_corner {
    background-image: url(https://i.ibb.co/rfVM2nc/toprightcorner.png);
    width: 45px;
    height: 46px;
    background-size: contain;
}

.left_top_corner {
    background-image: url(https://i.ibb.co/fH88S6V/topleftcorner.png);
    width: 45px;
    height: 48px;
    background-size: contain;
}

.right_down_corner {
    background-image: url(https://i.ibb.co/KsTd4Ry/downrightcorner.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-size: 98.5%;
}

.left_down_corner {
    background-image: url(https://i.ibb.co/p1Kdzkg/downleftcorner.png);
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
}

.inside_table{
    border: 1px solid;
    height: 400px;
}

.inside_segment{
    width: 100px;
    height: auto;
    border: 1px solid;
    text-align: center;
    vertical-align: top;
}
#flower{
    max-width: 100px;
}
.inside_segment:hover{
    background: rgb(86, 4, 78);
    border: 5px solid;
    transition: all 0.5s;
}
.inside_segment:not(:hover){
    transition: all 0.5s;
}

.carpet, .bed{
    vertical-align: middle;
}

.dream_ico{
    background: no-repeat;
    background-image: url('https://i.ibb.co/zP8YCMj/dream.png');
    height: 100px;
    width: 50px;
    background-size: contain;
    background-position: center;
    text-align: center;
}
.window{
    background: url();
    background-position: 50px 50px;
    width: 100%;
    height: 20px;
    text-shadow: -1px -1px navy,
                    0 1px 0 navy;
    color: rgb(223, 217, 229);
    background-color: blue;
    transition: all 3s;
}

.room{
    text-align: center;
    font: 2em;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein{
    from{
        margin-top: 100%;
        width: 400px;
    }
    to{
        margin-top: 0%;
        width: 400px;
    }
}

.status_text{
    color: rgb(209, 255, 7);
    font-size: 15px;
    font-family: 'Press Start 2P';
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 110px;
    width: 100px;
}
#on{
    color: green;
    margin-left: 50px;
}

#off{
    color: red;
    margin-left: 50px;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

#datatime, #address{
    margin-left: 50px;
}

@keyframes blink-animation{
    to{
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation{
    to{
        visibility: hidden;
    }
}
@-o-keyframes blink-animation{
    to{
        visibility: hidden;
    }
}

#left{
    position: absolute;
    left: 0;
    top: 10%;
    width: 10%;
    min-width: 300px;
}

#right{
    position: absolute;
    right: 0;
    top: 10%;
    width: 30%;
    min-width: 300px;
}

a{
    text-decoration: none;
    color: #ffa8a8;
}